<div class="main-sidebar">
  <div class="sidebar">
    <ul class="sidebar-menu">
      <li>
        <%= link_to(root_path)  do %>
          <i class="fa fa-dashboard"></i><span>Admin</span>
        <% end %>
      </li>
      <hr/>
    </ul>
  </div>
</div>
