<footer class="main-footer">
  <div class="pull-right hidden-xs">
    Uncompromisingly Better.
  </div>
  <strong>
    Copyright Shrikant Limaye
    <a href="#"> Company</a>
  </strong>
  All rights reserved.
</footer>
